apns2==0.7.1
appdirs==1.4.3
asgiref==3.2.10
cffi==1.14.1
cryptography==3.0
dateutils==0.6.6
Django==3.1
h2==2.6.2
hpack==3.0.0
hyper==0.7.0
hyperframe==3.2.0
mock==2.0.0
packaging==16.8
paho-mqtt==1.5.0
pbr==3.1.1
pycparser==2.20
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
six==1.11.0
sqlparse==0.3.1
